pulumi>=3.0.0,<4.0.0
pulumi-pulumiservice>=0.1.8,<1.0.0
pulumi-azure-native>=2.0.0,<3.0.0
pulumi-kubernetes>=3.21.2,<4.0.0
pulumi-azuread>=5.28.0,<6.0.0
pulumi-tls>=4.6.1,<5.0.0
demo-components @ git+https://github.com/pulumi-demos/examples.git#subdirectory=python/components
